* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #fff;
    background-color: rgb(66, 57, 56);
    text-align: center;
}

.text {
    color: rgb(24, 24, 24);
    text-align: center;
}

.cat-img {
    width: 100%;
}
